{{!--  ADD IMAGE --}}

{{!-- Content --}}
{{!-- condition to diplay all burgers --}}

<div class="container">
    <div class=" page-content">
        <div class="topHeader d-flex justify-content-center flex-column align-items-center p-4">
            <h1>Eat Da Burger!</h1>
            <img class="headImage" src="/images/humberger.png" alt="" />
        </div>

        <div class="search">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">

                    <div class="input-group mb-3">
                        <input type="text" id="burger-name" class="form-control" placeholder="eg. Chili Burger!"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class=" btn btn-danger" id="add-burger">Add Burger!</button>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4"></div>
            </div>

        </div>

        <div class="burgerContent row">
            <div class="col-lg-6">
                <div class="bg-white p-3 item-box">
                    <div class="alert bg-danger text-white text-center ">PREPARED
                    </div>
                    <hr>
                    <div class="row">
                        {{!-- <div class="col-lg-12 pt-3">
                            <div class="bg-warning p-2 mb-3 burger-item ">
                                <h3>Burger</h3>
                            </div>

                            <button type="button" class="list-group-item list-group-item-action" data-id={{id}}
                                    data-name='{{name}}'>{{name}}</button>
                        </div>
                          <p class="is-size-5">{{ burger.burger_name}}</p>
                          --}}
                        <ul class="list-group p-3" id="listBurgers">
                            {{#each burgers }}
                            {{#unless devoured}}
                            <div class="bg-warning p-2 mb-3 burger-item">
                                <h3 class="float-left">{{burger_name}}
                                    
                                </h3>
                                <button type="button" id='{{id}}' class="btn btn-devour btn-danger fas fa-utensils btn-round float-right"
                                    
                                         data-id='{{id}}'>Devour</button>
                            </div>
                            {{/unless}}
                            {{/each}}
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="bg-white item-box p-3">
                    <div class="alert bg-danger text-white text-center">DEVOURED
                    </div>
                    <hr>
                    <div class="row">
                        <ul class="list-group p-3" id="listBurgers">
                            {{#each burgers }}
                            {{#if devoured}}
                            <div class="bg-warning p-2 mb-3 burger-item text-center ">
                                <h3>{{burger_name}}</h3>
                            </div>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>